.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-actions {
    display: flex;
    justify-content:start;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: transparent;
    color: #007bff;
    font-weight: 400;
    font-size: 14px;
    border: 2px solid #007bff;
  }
  
  .btn-secondary {
    background-color: #95a5a6;
    color: white;
  }
  
  .forgot-password-link {
    font-size: 12px;
    color: #3498db;
    text-decoration: none;
  }
  