.container {
  display: flex;
  height: 100%; 
  background-color: transparent;
  color: #e0e0e0;
  font-family: Montserrat, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
  gap: 10px;
  padding-right: 20px;

  height: 100%; 
  overflow: hidden; 
}